.fbg_home {
    width: 100%;
    min-height: 100vh;
    /* background: rgb(245, 245, 245); */
    background: rgb(193, 20, 50);
    background: linear-gradient(90deg, rgba(193, 20, 50, 1) 0%, rgba(37, 10, 54, 1) 100%);
    padding: 50px;
    float: left;
}

.fbg_instruction-space {
    height: auto;
    width: 30%;
    background: var(--principal-back);
    color: var(--principal-color);
    padding: 10px;
    float: left;
}

.fbg_content-space {
    height: auto;
    width: 68%;
    padding: 20px;
    float: left;
}

@media(max-width:900px) {
    .fbg_home {
        width: 100%;
        min-height: 100vh;
        background: white;
        padding: 5px;
        padding-top: 10px;
    }
    .fbg_instruction-space {
        width: 100%;
    }
    .fbg_content-space {
        width: 100%;
        padding: 5px;
    }
}

h2 {
    color: var(--principal-color);
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
}