#fbg_res_tab {
    width: 100%;
    background-color: #ffffff26;
    border-radius: 0px;
    min-height: auto;
    max-height: 600px;
    overflow-y: auto;
    padding: 4px;
}

.fbg_item_tab {
    background-color: rgb(37 37 37 / 57%);
    display: block;
    padding: 2px;
    border-radius: 0px;
    margin-bottom: 1px;
}

.fbg_item_tab * {
    color: var(--principal-color);
}

.fbg_itemtabdisplay {
    display: block;
    text-align: center;
}

.fbg_itemtabdisplay span {
    width: 24%;
    display: inline-block;
    font-size: 14px;
}


/* apartado oculto de los items */

.fbg_itemtabhidden {
    display: none;
}

.fbg_itemtabhidden span {
    display: inline-block;
    width: 48%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.055);
    margin: 3px;
    border-radius: 2px;
}

.fbg_itemtabhidden span {
    font-size: 12px;
}


/* cambio de status */

.fbg_cambioStatus {
    text-align: right;
}

.fbg_cambioStatus a {
    color: white;
    text-decoration: none;
    padding: 3px 7px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.4s;
    display: inline-block;
}

.fbg_cambioStatus .aprobar {
    background-color: rgb(94, 187, 0);
}

.fbg_cambioStatus .rechazar {
    background-color: rgb(160, 0, 0);
}

.fbg_cambioStatus .en-espera {
    background-color: rgb(194, 149, 0);
}

.fbg_cambioStatus .aprobar:hover {
    transition: background-color 0.4s;
    background-color: rgb(128, 255, 0);
}

.fbg_cambioStatus .rechazar:hover {
    transition: background-color 0.4s;
    background-color: rgb(255, 0, 0);
}

.fbg_cambioStatus .en-espera:hover {
    background-color: rgb(255, 196, 0);
}


/* solicitudes */

#fbg_statusSolicitud a {
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.4s;
    cursor: pointer;
}

.status_pendiente a:hover {
    background-color: rgb(255, 255, 255);
    color: black !important;
    transition: background-color 0.4s;
}

.status_pendiente a {
    background-color: yellow;
    color: black !important;
}