/* CSS FORMULARIO
body {
    background: -webkit-linear-gradient(left, #811010, #f01414, #f57373);
    background: linear-gradient(to right, #811010, #f01414, #f57373);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI';
}

.formulario {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}*/


/* CSS HOME*/

body {
    background-color: rgb(241, 149, 149);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    min-height: 20vh;
    background-image: linear-gradient(-45deg, #ffffff 50%, rgb(224, 48, 48) 50%);
}

.slick {
    padding-top: 50px;
}