body {
    background-color: red;
}

h3 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI';
}

.formulario {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    justify-content: center;
    align-items: center;
}